<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <form action="/" method="post">
    <input name="ingredient_name">
    <input type="submit">
  </form>
  <ul>
  <% ingredients.forEach((ingredient) => { %>
    <li><a href="<%=ingredient.id%>"><%= ingredient.name %> %></li></a>
  <% }) %>
  </ul>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
