<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% tadpoles.forEach( function(tadpole) { %>
     <p>
        <a href="/tadpoles/<%= tadpole._id %>/update"><%= tadpole.name %></a>
    <% }) %>
    
  </body>
</html>
